
.grid {
    width: 100%;
    height: 450px;
    background: #F3F3F3;
}

.modal-content {
    border-radius: 0;
}

ul.operBySrez {
    list-style: none;
    display: grid;
    margin: 10px;
}

ul.operBySrez li a {
    border: 1px solid;
    border-radius: 1px;
    padding: 5px;
    font-weight: bold;
    margin: 5px 0;
    background: #fff;
    color: #0b0b0b;
    text-decoration: none;
    text-align: left;
}

ul.operBySrez li a:focus {
    background: #A5C3E6;
}


h5 {
    line-height: 1.5em;
    font-weight: normal;
}

/*.modal-body {
    background: linear-gradient(#fff, #a8a8a8);
}*/

.statusTree {
    border: 1px solid #a7a4a4;
    border-radius: 1.5px;
    height: 100%;
    /*margin: 15px 0;*/
    max-height: 78vh;
    overflow-y: scroll;
    background: #fff;
}

.noPadding {
    padding: 0;
}

.nav-pills > li > a {
    color: black;
    border: 1px solid #b5a8a8;
    width: 150px;
}

.nav {
    padding-left: 10px;
}
/*
.modal-header {
    padding: 0 10px;
    text-align: left;
    background: #224879;
    color: #fff;
}*/
/*
.modal-header .close {
    color: #fff;
    opacity: 2;
    margin-top: 7px;
}
*/
#tabs {
    /*overflow-y: scroll;*/
    height: 60vh;
}

.lastStatus{
    background-color: red;
    color: white;
}

div#tabs.statusHistory ul li:last-child{
    /*background: #337ab7;*/
}

div#tabs.statusHistory ul li:last-child a{
    /*color: white;*/
}

.nav-pills>li>a{
    border-radius: 0;
}

.last:last-of-type{
    background: #2E86CD;
}

.last:last-of-type a{
    color: white;
}

.last:hover:last-of-type{
    background: #555555;
}


/*Timeline*/

.timeline {
    position: relative;
    width: 860px;
    margin: 0px auto;
    padding: 20px;
    list-style-type: none;
}
@media (max-width: 860px) {
    .timeline {
        width: 100%;
        padding: 4em 0 1em 0;
    }
}
.timeline:before {
    position: absolute;
    left: 50%;
    top: 0;
    content: ' ';
    display: block;
    width: 6px;
    height: 100%;
    margin-left: -3px;
    background: #505050;
    z-index: 5;
}
.timeline li {
    padding: 1em 0;
}
@media (max-width: 860px) {
    .timeline li {
        padding: 2em 0;
    }
}
.timeline li::after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.direction-l {
    position: relative;
    width: 376px;
    float: left;
    text-align: right;
}
@media (max-width: 860px) {
    .direction-l {
        float: none;
        width: 100%;
        text-align: center;
    }
}
.direction-l .flag {
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}
.direction-l .flag:after {
    content: "";
    position: absolute;
    left: 100%;
    top: 50%;
    height: 0;
    width: 0;
    margin-top: -8px;
    border: solid transparent;
    border-left-color: #f8f8f8;
    border-width: 8px;
    pointer-events: none;
}
@media (max-width: 860px) {
    .direction-l .flag:after {
        content: "";
        position: absolute;
        left: 50%;
        top: -8px;
        height: 0;
        width: 0;
        margin-left: -8px;
        border: solid transparent;
        border-bottom-color: #fff;
        border-width: 8px;
        pointer-events: none;
    }
}
.direction-l .time-wrapper {
    float: left;
}
@media (max-width: 860px) {
    .direction-l .time-wrapper {
        float: none;
    }
}
.direction-r {
    position: relative;
    width: 376px;
    float: right;
}
@media (max-width: 860px) {
    .direction-r {
        float: none;
        width: 100%;
        text-align: center;
    }
}
.direction-r .flag {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}
.direction-r .flag:after {
    content: "";
    position: absolute;
    right: 100%;
    top: 50%;
    height: 0;
    width: 0;
    margin-top: -8px;
    border: solid transparent;
    border-right-color: #f8f8f8;
    border-width: 8px;
    pointer-events: none;
}
@media (max-width: 860px) {
    .direction-r .flag:after {
        content: "";
        position: absolute;
        left: 50%;
        top: -8px;
        height: 0;
        width: 0;
        margin-left: -8px;
        border: solid transparent;
        border-bottom-color: #fff;
        border-width: 8px;
        pointer-events: none;
    }
}
.direction-r .flag:before {
    left: -40px;
}
.direction-r .time-wrapper {
    float: right;
}
@media (max-width: 860px) {
    .direction-r .time-wrapper {
        float: none;
    }
}
.flag-wrapper {
    position: relative;
    display: inline-block;
    text-align: center;
}
@media (max-width: 860px) {
    .flag-wrapper {
        text-align: center;
    }
}
.flag-wrapper .flag {
    cursor: pointer;
    position: relative;
    display: inline;
    background: #f8f8f8;
    padding: 6px 10px;
    border-radius: 5px;
    font-weight: 600;
    text-align: left;
}
@media (max-width: 860px) {
    .flag-wrapper .flag {
        background: #fff;
        z-index: 15;
    }
}
.direction-l .flag:before, .direction-r .flag:before {
    position: absolute;
    top: 50%;
    right: -40px;
    content: ' ';
    display: block;
    width: 12px;
    height: 12px;
    margin-top: -10px;
    background: #fff;
    border-radius: 10px;
    border: 4px solid #58b96b;
    z-index: 10;
}
@media (max-width: 860px) {
    .direction-l .flag:before, .direction-r .flag:before {
        position: absolute;
        top: -30px;
        left: 50%;
        content: ' ';
        display: block;
        margin-left: -10px;
    }
}
.time-wrapper {
    display: inline;
    line-height: 1em;
    font-size: 0.66666em;
    color: #58b96b;
    vertical-align: middle;
}
@media (max-width: 860px) {
    .time-wrapper {
        display: block;
        position: relative;
        margin: 4px 0 0 0;
        z-index: 14;
    }
}
.time-wrapper .time {
    display: inline-block;
    padding: 4px 6px;
    background: #f8f8f8;
}
.desc {
    margin: 1em 0.75em 0 0;
    font-size: 0.9em;
    font-style: italic;
    line-height: 1.5em;
}
.desc a {
    color: #58b96b;
    text-decoration: none;
}
.desc a:hover {
    text-decoration: underline;
}
@media (max-width: 860px) {
    .desc {
        position: relative;
        margin: 1em 1em 0 1em;
        padding: 1em;
        background: #f5f5f5;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.20);
        z-index: 15;
    }
}

li{
    float: none;
}

.activeStatus{
    position: relative;
    display: inline;
    padding: 6px 10px;
    border-radius: 5px;
    font-weight: 600;
    text-align: left;
    background-color: #214878;
    color: #fff;
}
