<link rel="stylesheet" href="css/operBySrez.css" type="text/css">

<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" ng-click="cancel()">×</button>
  <h4 class="modal-heading">Операции со срезами</h4>
</div>
<div class="modal-body" ng-controller="modalOperBySrezCtrl">
  <div class="row">
    <div class="col-md-12">
      <div>
        <div class="col-md-5 noPadding">
          <div
            style="min-height: 70vh; height: 100%; padding: 0 10px">

            <div class="col-md-12">
              <div class="row">
                <div style="float: left">
                  <h5><b>№ среза:</b> {{srezNo}}</h5>

                </div>
                <div style="float: right">
                  <h5><b>Период:</b> {{period}}</h5>
                </div>
              </div>
            </div>

            <div class="statusTree">

              <uib-tabset class="statusHistory" id="tabs" active="activeTabIndex" vertical="true" type="pills">
                <uib-tab
                         class="last"
                         ng-style="{'margin-left': $index*15 + 'px'}"
                         ng-repeat="status in history"
                         ng-click="getStatusCode(status)"
                         style="width: fit-content; margin: 5px"
                         index="$index"
                         heading="{{status.statusName}}">

                </uib-tab>
              </uib-tabset>
            </div>

            <div ng-if="userRole == USER_ROLES.ONE">


              <button ng-click="statusAction(BUTTONS.SEND)" class="btn" ng-if="
              rowEntityStatusCode == STATUS_CODES.PRELIMINARY">На согласование
              </button>


              <button ng-click="statusAction(BUTTONS.PRELIMINARY)" class="btn" ng-if="
              rowEntityStatusCode == STATUS_CODES.APPROVED">Перевести в Предварительный
              </button>


              <button class="btn" ng-if="
              rowEntityStatusCode == STATUS_CODES.FORMED_WITH_ERROR
              || rowEntityStatusCode == STATUS_CODES.PRELIMINARY
              || rowEntityStatusCode == STATUS_CODES.IN_AGREEMENT" ng-click="statusAction(BUTTONS.DELETE)">Удалить
              </button>


              <button ng-click="statusAction(BUTTONS.CONFIRM)" class="btn" ng-if="
              rowEntityStatusCode == STATUS_CODES.PRELIMINARY || rowEntityStatusCode == STATUS_CODES.IN_AGREEMENT">
                Утвердить
              </button>
            </div>


            <div ng-if="userRole == USER_ROLES.ZERO">
              <button ng-click="statusAction(BUTTONS.APPROVE) " class="btn" ng-if="
              rowEntityStatusCode == STATUS_CODES.IN_AGREEMENT">Согласовать
              </button>

              <button ng-click="statusAction(BUTTONS.APPROVE)" class="btn" ng-if="
              rowEntityStatusCode == STATUS_CODES.IN_AGREEMENT">Отказать
              </button>
            </div>
          </div>
        </div>


        <!--Инфо по статусу Сформирован с ошибкой-->
        <div ng-if="statusCode == STATUS_CODES.FORMED_WITH_ERROR" class="col-md-7 noPadding">
          <div style="border: 1px solid #94948c; min-height: 70vh; height: 100%;  padding: 10px">
            <h5><b>Статус:</b> {{statusName}}</h5>
            <h5><b>Срез заказал:</b> {{personName}}</h5>
            <h5><b>Время заказа среза:</b> {{statusDate}}</h5>
            <h5><b>Время начала формирования:</b> {{created}}</h5>
            <h5><b>Время окончания формирования: </b> {{completed}}</h5>

            <h5><b>Сообщение об ошибке:</b></h5>

            <div style="border: 1px solid #a7a4a4; padding: 10px">
              <h5 style="color: red">{{errorMsg}}</h5>
            </div>

          </div>
        </div>
        <!--Инфо по статусу Сформирован с ошибкой-->


        <!--Инфо по статусу Окончательный / Утвержден-->
        <div ng-if="statusCode == STATUS_CODES.APPROVED" class="col-md-7 noPadding">
          <div style="border: 1px solid #94948c; min-height: 70vh; height: 100%;  padding: 10px">
            <h5><b>Статус:</b> {{statusName}}</h5>
            <h5><b>Срез утвердил:</b> {{personName}}</h5>
            <h5><b>Время утверждения:</b> {{statusDate}}</h5>
          </div>
        </div>
        <!--Инфо по статусу Окончательный / Утвержден-->


        <!--Инфо по статусу Предварительный-->
        <div ng-if="statusCode == STATUS_CODES.PRELIMINARY" class="col-md-7 noPadding">
          <div style="border: 1px solid #94948c; min-height: 70vh; height: 100%;  padding: 10px">
            <h5><b>Статус:</b> {{statusName}}</h5>
            <h5><b>Срез перевел:</b> {{personName}}</h5>
            <h5><b>Время перевода среза:</b> {{statusDate}}</h5>
            <div>
              <h5 ng-if="created"><b>Время начала формирования:</b> {{created}}</h5>
              <h5 ng-if="completed"><b>Время окончания формирования: </b> {{completed}}</h5>
            </div>
          </div>
        </div>
        <!--Инфо по статусу Предварительный-->


        <!--Инфо по статусу На согласовании-->
        <div ng-if="statusCode == STATUS_CODES.IN_AGREEMENT" class="col-md-7 noPadding">
          <div style="border: 1px solid #94948c; min-height: 70vh; height: 100%;  padding: 10px">
            <h5><b>Статус:</b> {{statusName}}</h5>
            <h5><b>Срез отправил на согласование:</b> {{personName}}</h5>
            <h5><b>Время перевода на согласование:</b> {{statusDate}}</h5>
            <div id="gridInAgreement" ui-grid="gridOptionsAgreement" ng-if="gridOptionsAgreement" ui-grid-cellnav
                 class="grid"></div>
          </div>
        </div>
        <!--Инфо по статусу На согласовании-->


        <!--Инфо по статусу Удален-->
        <div ng-if="statusCode == STATUS_CODES.DELETED" class="col-md-7 noPadding">
          <div style="border: 1px solid #94948c; min-height: 70vh; height: 100%;  padding: 10px">
            <h5><b>Статус:</b> {{statusName}}</h5>
            <h5><b>Срез удалил:</b> {{personName}}</h5>
            <h5><b>Время удаления среза:</b> {{statusDate}}</h5>
          </div>
        </div>

        <!--Инфо по статусу Удален-->


      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-danger" ng-click="cancel()">Отмена</button>
</div>



