<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" >×</button>
  <h3>Получение отчетов</h3>
</div>
<div class="modal-body">
	<uib-tabset active="active">
   <uib-tab index="0" heading="Каталог">
   	<div class="row">
   		<div class="col-md-6">
		   	
		   	<form class="form-inline">
		   		<div class="form-group">
			   		<label for="statSliceNum">Статсрез на №</label>
			 			<input type="text" name="statSliceNum" id="statSliceNum" ng-model="statSliceNum" class="form-control" disabled>
		   		</div>
		   		<div class="form-group">
			   		<label for="reportDatePeriod">Отчетный период</label>
			 			<input type="text" name="reportDatePeriod" id="reportDatePeriod" ng-model="reportDatePeriod" class="form-control" disabled>
		   		</div>
		   		<div class="form-group" ng-controller="langDropdownCtrl">
			   		<label for="langSelect">Язык отчета</label>
				    <select name="langSelect" id="langSelect"
				      ng-options="option.name for option in data.langs track by option.id"
				      ng-model="data.selectedOption" class="form-control"></select>
						</select>
		   		</div>
		   		<div class="btn-submit">
		   			<button class="btn btn-primary btn-md" type="submit" ng-click="getReports()">Получить</button>
		   		</div>
		   	</form>   			

   		</div>
   		<div class="col-md-6">
   			
   		</div>
   	</div>
   	<div class="row">
   		<div class="requested-reports" ng-controller="requestedReportsCtrl"></div>
   	</div>
   	<div class="row">
   		<div class="request-status" ng-controller="requestStatusCtrl"></div>
   	</div>
   </uib-tab>
   <uib-tab index="1" heading="1-М">
   	<div class="row">
   		<div class="col-md-6" ng-controller="RegionTreeCtrl" >
		   	<!-- <div id="regionTreeGrid" ui-grid="gridOptions" ui-grid-tree-view class="grid"></div> -->
		   	<!-- <div id="regionTreeGrid" ui-grid="gridOptions" ui-grid-grouping ui-grid-edit ui-grid-selection class="grid" style="width:100%;"></div> -->
		   	<div id="grid1" ui-grid="gridOptions" ui-grid-grouping class="grid"></div>
   		</div>
   	</div>
   </uib-tab>
   <uib-tab index="3" heading="3-К">
	
	 </uib-tab>
   <uib-tab index="4" heading="1-Н">
   	
   </uib-tab>
   <uib-tab index="5" heading="СНГ-3">
   	
   </uib-tab>
   <uib-tab index="6" heading="СНГ-1">
   	
   </uib-tab>
   <uib-tab index="7" heading="СНГ-ОП">
   	
   </uib-tab>
   <uib-tab index="8" heading="1-ЭТ">
   	
   </uib-tab>
   <uib-tab index="9" heading="МПС">
   	
   </uib-tab>
 </uib-tabset>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>