<style>
  ul.operBySrez {
    list-style: none;
    display: grid;
    margin: 10px;
  }

  ul.operBySrez li a {
    border: 1px solid;
    border-radius: 1px;
    padding: 5px;
    font-weight: bold;
    margin: 5px 0;
    background: #fff;
    color: #0b0b0b;
    text-decoration: none;
    text-align: left;
  }

  ul.operBySrez li a:focus {
    background: #A5C3E6;
  }


  h5 {
    line-height: 1.5em;
    font-weight: normal;
  }

  .modal-body {
    background: linear-gradient(#fff, #a8a8a8);
  }

  .statusTree {
    border: 2px solid #a7a4a4;
    border-radius: 1.5px;
    height: auto;
    margin: 15px 0;
    min-height: 45vh;
    background: #fff
  }

  /*uib-tab{
    color: #000;
    border: 1px solid #b1b6bb;
  }*/
</style>

<div class="modal-header" style="text-align: left">
  <button type="button" class="close" data-dismiss="modal" ng-click="cancel()">×</button>
  <h4><b>Операции со срезами</b></h4>
</div>
<div class="modal-body" ng-controller="modalOperBySrezCtrl">
  <div class="row">
    <div class="col-md-12">
      <div>
        <div class="col-md-5">
          <div
            style="min-height: 70vh; height: 100%; padding: 10px">

            <h5><b>№ среза:</b> {{srezNo}}</h5>
            <h5><b>Период:</b> {{period}}</h5>
            <h5><b>Срез на №</b> {{srezToNum}}</h5>

            <div class="statusTree">
              <ul class="operBySrez">
                <!--<li class="active" ng-repeat="status in statuses" ng-style="{'margin-left': $index*15 + 'px'}">
                  <a ng-click="getInfo()">- {{ status.name}}</a>
                </li>-->
              </ul>
              <uib-tabset  active="activePill" vertical="true" type="pills">
                <uib-tab ng-repeat="status in statuses" ng-click="getInfoByStatus()" style="float: left; margin: 5px" index=$index
                         heading="{{status.name.slice(0,-4)}}"></uib-tab>
              </uib-tabset>
            </div>

            <button class="btn btn-default">Удалить</button>
          </div>
        </div>
        <div class="col-md-7">
          <div ng-repeat="info in infoByStatus"
               style="border: 1px solid #94948c; min-height: 70vh; height: 100%;  padding: 10px">
            <h5><b>Статус:</b> {{info.statusName}}</h5>
            <h5><b>Срез заказал:</b> {{info.sliceByOrder}}</h5>
            <h5><b>Время заказа среза:</b> {{info.orderSrezTime}}</h5>
            <h5><b>Время начала формирования:</b> {{info.startTime}}</h5>
            <h5><b>Время окончания формирования: </b> {{info.endTime}}</h5>
            <div ng-if="statusCode == '5'">
              <h5><b>Сообщение об ошибке</b></h5>

              <div style="border: 1px solid #a7a4a4; padding: 10px">
                <h5 style="color: red">В ходе формирования среза возникла ошибка код С023, отсутствует поле
                  FE1R01P1</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-warning" ng-click="cancel()">Отмена</button>
</div>



